<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestVagrant">
  <test  name="CodingRound">
    <classes>
      <class name="testvagrant.codinground.tests.SignInTest"/>
      <class name="testvagrant.codinground.tests.HotelBookingTest"/>
      <class name="testvagrant.codinground.tests.FlightBookingTest"/>
    </classes>
  </test> 
</suite> 